<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400%>');">
  <div class="container">
    <h1> <%= @cocktail.name %></h1>
  </div>
</div>
<div class="container">
	<div class="card">
		<%= link_to 'back', cocktails_path, class: 'btn btn-primary' %>
		<ul>
			<% if @cocktail.doses.any? %>
				<% @cocktail.doses.each do |dose| %>
					<li><%= dose.ingredient.name %></li>
					<li><%= dose.description %></li>
					<%= link_to 'delete', dose_path(dose), class: 'btn btn-danger', method: :delete%>
				<% end %>
			<% end %>
		</ul>
		<%= link_to 'add dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>
		
	</div>
</div>